/* SECTION */
.osp-services-section {
  background-color: #8cabc3d3;
  padding: 80px 20px;
  font-family: "Segoe UI", sans-serif;
}

/* CONTAINER */
.osp-services-container {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.osp-services-header {
  text-align: center;
  margin-bottom: 50px;
}

.osp-services-header h2 {
  font-size: 40px;
  font-weight: 550;
  color: #0f4c75;
  margin-bottom: 10px;
}

.osp-services-header p {
  color: #555;
  font-size: 16px;
  max-width: 650px;
  margin: auto;
}

/* GRID */
.osp-services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.osp-service-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.osp-service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #0f4c75;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.osp-service-card:hover::before {
  transform: scaleX(1);
}

.osp-service-card:hover {
  transform: translateY(-8px);
}

/* ICON */
.osp-service-icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #0f4c75;          /* primary blue */
  display: inline-flex;
  align-items: center;
}


/* TEXT */
.osp-service-card h3 {
  color: #0f4c75;
  font-size: 20px;
  margin-bottom: 10px;
}

.osp-service-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* BUTTON */
.osp-service-btn {
  border: none;
  background-color: #0f4c75;
  color: #fff;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.osp-service-btn:hover {
  background-color: #083654;
}

/* TABLET */
@media (max-width: 992px) {
  .osp-services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .osp-services-grid {
    grid-template-columns: 1fr;
  }

  .osp-services-header h2 {
    font-size: 28px;
  }
}
